{% include head.html %}
  {% if page.head %}
    <style type="text/css">
       {{ page.head }}
    </style>
  {% endif %}
{% include header.html %}

<div class="main-container">
  <div class="main wrapper clearfix">
  
  <div class="clearfix feature-message"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="258" height="208" title="Click Here to donate!" type="application/x-shockwave-flash" style="
    float: right;
"><param name="movie" value="//funds.gofundme.com/Widgetflex.swf"><param name="quality" value="high"><param name="flashvars" value="page=iu5z8w&amp;template=5"><param name="wmode" value="transparent"><embed allowscriptaccess="always" src="//funds.gofundme.com/Widgetflex.swf" quality="high" flashvars="page=iu5z8w&amp;template=5" type="application/x-shockwave-flash" wmode="transparent" width="258" height="208"></object><p>Hi there. I feel this is more important to share than anything I have to say about tech. Friends of mine really need help covering the medical costs and care for their new months-old daughter who spent 3 months in the NICU at a hospital hours away from home and has endured multiple surgeries. <a href="#">Please consider giving</a> any amount you're able. Thanks for visiting my website.</p>
<p>-Keith</p></div>

    {{ content }}
    
  </div> <!-- .main -->
</div> <!-- .main-container -->

{% include footer.html %}
{% include foot.html %}
